html {
  scroll-behavior: smooth;  
}
body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6, button, a {
  font-family: 'Reenie Beanie', cursive;
}
span, p, input {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

h2 {
  font-size: 5em;
}

a {
  text-decoration: none;
}

button, a.button {
  color: #f64372;
  background-color: #ffffff;
  border: 3px solid #f64372;
  font-size: 3rem;
}

button.blue {
  color: #2f2fa2;
  background-color: #ffffff;
  border: 3px solid #2f2fa2;
  font-size: 3rem;
}

.pink {
  color:#f64372;
}

.background-pink {
  background-color:#f64372;
}

.blue {
  color: #242582;
}

.background-blue {
  background-color: #242582;
}

.light-blue {
  color: #2f2fa2;
}

.background-light-blue {
  background-color: #2f2fa2;
}

.grey {
  color: #cbcbcb
}

.background-grey {
  background-color: #cbcbcb;
}

.background-white {
  background-color: #ffffff;
}

.border-pink {
  border: 3px solid #f64372;
}

.background-dpink {
  background-color: #553d67; 
}

.dpink {
  color: #553d67;
}

.split-background {
  background: linear-gradient(to bottom, #242582 0%,#242582 50%,#000000 50%,#2f2fa2 50%,#2f2fa2 100%); 
}
@media only screen and (min-width: 480px){
  .blue-background-ns {
    background-color: #242582;
  }
}

section::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
section::-webkit-scrollbar-thumb {
  background: #FF0000;
}

/* specific styles */
header {
  display: block;
  position: relative;
  width: 100%;
  background-color: rgba(34, 28, 103, 0.2);
}

header::after {
  content: "";
  background-image: url("./images/bristol-bridge.jpg");
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

input {
  background-color: #242582;
  border: 0;
  border-bottom: 2px solid #f64372;
}

input::placeholder {
  color: #cbcbcb;
}

input.submit {
  border: 2px solid #f64372;
}

/* specific */
.why-learn h2 {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.why-learn-scroll {
  overflow: scroll;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.why-one {
  background-image: url("./images/balloon-fire.jpg");
  background-position: right top;
}

.why-two { 
  background-image: url("./images/balloon-taking-off.jpg");
  background-position: left top;
}

.why-three {

  background-image: url("./images/hot-air-balloon.jpg");
  background-position: right top;
}

.why-four {
  background-image: url("./images/blue-balloon.jpg");
  background-position: left top;
}

.why-one, .why-two, .why-three, .why-four {
  width: 90%;
  height: 80vh;
  top: 10%;
  left: 50%;
  background-repeat: no-repeat;
  background-size: 55%;
  margin: 0 auto;
}
