body {
  margin: 0;
}
header img {
  width: 100vw;
}

.pink {
  color: #ed4165;
}

.background-pink {
  background-color: #ed4165;
}

.blue {
  color: #231d67;
}

.background-blue {
  background-color: #231d67;
}

.yellow {
  color: #fcd307;
}

.background-yellow {
  background-color: #fcd307;
}

.grey {
  color: #cbcbcb
}