body {
  margin: 0;
}
h1, h2, h3, h4, h5, h6, button {
  font-family: 'Reenie Beanie', cursive;
}
span, p, input {
  font-family: 'Raleway', sans-serif;
  color: #ffffff
}

.pink {
  color:#f64372;
}

.background-pink {
  background-color:#f64372;
}

.blue {
  color: #242582;
}

.background-blue {
  background-color: #242582;
}

.light-blue {
  color: #2f2fa2;
}

.background-light-blue {
  background-color: #2f2fa2;
}

.grey {
  color: #cbcbcb
}

.background-grey {
  background-color: #cbcbcb
}

.border-pink {
  border: 3px solid #f64372;
}

.background-dpink {
  background-color: #553d67; 
}

.dpink {
  color: #553d67;
}

.split-background {
  background: linear-gradient(to bottom, #242582 0%,#242582 50%,#000000 50%,#2f2fa2 50%,#2f2fa2 100%); 
}

/* specific styles */
header {
  display: block;
  position: relative;
  width: 100vw;
  background-color: rgba(34, 28, 103, 0.2);
}

header::after {
  content: "";
  background-image: url("./images/bristol-bridge.jpg");
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

input {
  background-color: #242582;
  border: 0;
  border-bottom: 2px solid #f64372;
}

input::placeholder {
  color: #cbcbcb;
}

input.submit {
  border: 2px solid #f64372;
}

/* specific */
.why-learn {
  overflow: scroll;
}
.why-one {
  /* position: absolute; */
  width: 90%;
  height: 100vh;
  top: 10%;
  left: 50%;
  background-image: url("https://i2-prod.bristolpost.co.uk/incoming/article314282.ece/ALTERNATES/s1227b/balloon-fiesta-thursday-06.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60%;
  filter: grayscale(100%);
  margin: 0 auto;
}

.why-two {
  width: 90%;
  height: 100vh;
  top: 10%;
  left: 50%;
  background-image: url("./images/balloon-taking-off.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 60%;
  filter: grayscale(100%);
  margin: 0 auto;
}

.why-three {
  /* position: absolute; */
  width: 90%;
  height: 100vh;
  top: 10%;
  left: 50%;
  /* background-image: url("./images/balloon3.jpg"); */
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60%;
  filter: grayscale(100%);
  margin: 0 auto;
}

.why-four {
  width: 90%;
  height: 100vh;
  top: 10%;
  left: 50%;
  background-image: url("./images/balloon-taking-off.jpg");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 60%;
  filter: grayscale(100%);
  margin: 0 auto;
}